<!DOCTYPE html>
<html lang="en">

<head>
    ${require('include/head.html')}
</head>

<body>
    <main class="wxwall clearfix">
        <div class="wxwall-title">
            <div class="title school-name">计算机学院、软件学院、网络空间安全学院</div>
            <div class="title party-name">迎新晚会微信墙</div>
        </div>
        <div class="wxwall-body">
            <div class="wxwall-container">
                <ul id="launch-space"></ul>
            </div>
        </div>
    </main>
    ${require('include/footer.html')}
</body>

</html>
